
body {
    background-color: rgb(169, 197, 242);
}

blockquote {
    margin-top:5px;
    width: 50%;
    display: inline-block;
}

#quote {
    text-align: center;
}

#quote img {
    height: 400px;
    width: auto;
    margin-right: 15px;
}

.header {
    color: rgb(222, 229, 239);
    font-size: 500%;
    padding: 0;
    width: 100%;
    height: 150px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px black;
    margin-bottom: 5px;
}

.panel-default:hover {
    background-color: black;
    color:navajowhite;
}
.header p {
    margin-top: 70px;
    text-align: center;
}

.glowing{
  color: crimson;
  font-size: 14pt;
}

.epi{
  font-family: fantasy;
  font-size: 14pt;
  font-style: oblique;
}

.carousel {
    max-height: 300px;
    overflow:hidden;
    margin-bottom: 20px;
}

.item img {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 700px) {
    .header {
        font-size: 400%;
    }
}

@media only screen and (max-width: 570px) {
    .header {
        font-size: 200%;
    }
}