@{
    ViewData["Title"] = "Welcome to Wingo's Web Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div id="quote">
            <blockquote>
                <p>“You look at where you're going and where you are and it never makes sense, but then you look back at where you've been and a pattern seems to emerge.”</p>
                <footer>― Robert M. Pirsig, Zen and the Art of Motorcycle Maintenance: An Inquiry Into Values</footer>
            </blockquote>
        </div>
    </div>
</div>