@{
    ViewData["Title"] = "Welcome to Wingo's Web Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<WingoWeb.Models.Repo>
<h1>My Reference Repositories</h1>
<hr />
@foreach (var repo in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading"><a href='@repo.Owner.Html_Url/@repo.Name'> @repo.Name</a></div>
        <div class="panel-body">@repo.Description</div>
    </div>
}